<div class="container text-bg-secondary">
    <div class="row">
      <div *ngFor="let product of products2" class="col-12 col-md-4 col-lg-3 card text-bg-light g-3">
        <img src="{{product.imageUrl}}" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <h6 class="card-title">{{product.category}}</h6>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Rated {{product.rate}} by {{product.ratingCount}} ratings</p>
          <hr>
          <p class="card-text">Price: {{product.price}}</p>
          <a href="#" class="btn btn-primary col-12 col-md-4">Buy</a>
        </div>
      </div>
  </div>
</div>
