<div class="container bg-secondary">
  <h2 class="py-2 border-bottom">Order items</h2>
  <ul class="list-group" id="orderSummary">
    <li *ngFor="let item of shoppingCart" class="list-group-item bg-secondary py-1 border-0 border-bottom">
      <p>{{item.title}}</p>
      <p>Price: {{item.price}}</p>
    </li>
  </ul>
  <hr>
  <h3>Total Price: {{totalPrice}}</h3>
  <ul class="list-group list-group-horizontal" id="totalPrice">
  </ul>

  <hr>
</div>

<div class="container pt-5">
  <h2>Shipping information</h2>
<form [formGroup]="shippingForm" class="p-3" (ngSubmit)="validateAndSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="name" formControlName="name" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="nameTouched && shippingForm.controls.name.invalid" >Please enter a name between 2 and 50 characters.</span>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <div class="input-group has-validation">
      <input type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="emailTouched && shippingForm.controls.email.invalid">Please an email with &#64; and maximum 50 characters.</span>
  </div>


  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="phone" formControlName="phone" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="phoneTouched && shippingForm.controls.phone.invalid">Phone numbers can only contain numbers, hyphens and parameters.</span>
  </div>

  <div class="mb-3">
    <label for="street" class="form-label">Street</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="street" formControlName="street" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="streetTouched && shippingForm.controls.street.invalid">Please enter a street name between 2 and 50 characters.</span>
  </div>


  <div class="mb-3">
    <label for="postalCode" class="form-label">Postal Code</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="postalCode" formControlName="postalCode" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="postalCodeTouched && shippingForm.controls.postalCode.invalid">Please enter a postal code of 5 characters.</span>
  </div>

  <div class="mb-3">
    <label for="postalArea" class="form-label">Postal Area</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="postalArea" formControlName="postalArea" required>
    </div>
    <span class="text-danger-emphasis" *ngIf="postalAreaTouched && shippingForm.controls.postalArea.invalid">Please enter a postal area between 2 and 50 characters.</span>
  </div>


  <div class="modal-footer">
    <a [routerLink]="['/products']" class="btn btn-secondary">Back to shop</a>
    <button type="submit" class="btn btn-primary">Confirm Purchase</button>
  </div>
</form>
</div>
