<header>
  <nav class="navbar navbar-expand-sm text-bg-secondary border-bottom">
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="index.html" class="nav-link text-light">Home</a></li>
        <li class="nav-item"><a href="about.html"  class="nav-link text-light">About Us</a></li>
        <li class="nav-item"><a href="products.html"  class="nav-link bg-gradient text-light">Products</a></li>
      </ul>
      <app-shopping-cart></app-shopping-cart>
    </div>
  </nav>
</header>
