<section>

  <div class="modal fade" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
      <div class="modal-content bg-secondary">
        <div class="modal-header align-content-between row">
          <h5 class="modal-title col-10" id="shoppingCartModalLabel">Shopping Cart</h5>
          <a (click)="clearCart()" class="btn btn-danger col-2">Clear</a>
        </div>

        <div class="container bg-secondary">
          <h2 class="py-2 border-bottom">Order items</h2>
          <ul class="list-group" id="orderSummary">
            <li *ngFor="let item of shoppingCart" class=" bg-secondary py-1 border-0 border-bottom row">
              <p class="col-4">{{item.title}}</p>
              <p class="col-4">Price: {{item.price}}</p>
              <p class="col-1">{{itemCountMap!.get(item.id)}}</p>
              <a (click)="addItem(item)" class="btn col-1">+</a>
              <a (click)="removeItem(item)" class="btn col-1">-</a>
            </li>
          </ul>
          <hr>
          <h3>Total Price: {{totalPrice}}</h3>
          <hr>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back to shop</button>
          <a [routerLink]="['/checkout']" data-bs-dismiss="modal" class="btn btn-primary">Proceed to Checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
